@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-five-times {
    animation: fade 1s ease-in-out 5;
  }
}
